CheckboxExample.xcodeproj/project.xcworkspace/xcuserdata/Gottlieb.xcuserdatad/UserInterfaceState.xcuserstate
CheckboxExample.xcodeproj/xcuserdata/Gottlieb.xcuserdatad/xcschemes/CheckboxExample.xcscheme
